service:
  extensions: [jaeger_storage, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  telemetry:
    resource:
      service.name: jaeger-collector
    logs:
      level: info

extensions:
  healthcheckv2:
    use_v2: true
    http:
      endpoint: 0.0.0.0:14269

  jaeger_storage:
    backends:
      es:
        elasticsearch:
          server_urls:
            - http://elasticsearch:9200
          indices:
            index_prefix: "jaeger-prod"
          use_aliases: true
          use_ilm: true
          create_mappings: false
          # Original settings that were working in 2.6.0
          # elastic search tls 연결 시 사용
#          auth:
#            basic:
#              username: elastic
#              password: Scg7B4FlXFC4F7DZoIkj
#          tls:
#            ca_file: certs/ca.crt
#            insecure_skip_verify: true # ca file 의 SAN 검증 무시
#  remote_sampling:
    # You can either use file or adaptive sampling strategy in remote_sampling
    # file:
    #   path: ./cmd/jaeger/sampling-strategies.json
#    adaptive:
#      sampling_store: es
#    http:
#    grpc:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: es
